/*
!.config/
.config/*
!.config/alacritty
!.config/dunst
!.config/fish
!.config/i3
!.config/lf
!.config/mpv
!.config/polybar
!.config/ranger
.config/ranger/plugins/__pycache__
.config/ranger/colorschemes/__pycache__
.config/ranger/colorschemes/__init__.py
!.config/rofi
!.config/yazi
!.config/kdeglobals
!.config/picom.conf
!Documents/
Documents/*
!Documents/learning/
!/scripts/
!.fonts/
!.local/
.local/*
!.local/bin/
!.xprofile

git rm -r --cached .config/dmenu-flexipatch
